<h1>Articles</h1>

<ul>
  <%# Controller instance variables (i.e. @articles) can be accessed by the view %>
  <%# For each article, display the article name as a list item %>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
    </li>
  <% end %>
</ul>
